@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 1rem;
  /* margin-top: 10px; */
  scroll-margin-top: 10px;
}
::-webkit-scrollbar-thumb {
  background: #e50419;
  border: 1px solid #f8f9ff;
  border-radius: 50vw;
}
::-webkit-scrollbar-thumb:hover {
  background: #f5021b;
}
::-webkit-scrollbar-track {
  background: #f8f9ff;
  border-radius: 50vw;
  /* scroll-margin-block: 0.5rem; */
}

.banner {
  background-position: center !important;
  background-repeat: no-repeat !important ;
  background-size: cover !important ;
  object-fit: contain !important;
  height: 500px !important;
}

.rowItem {
  background-position: center center !important ;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  object-fit: cover !important;
  background-clip: border-box;
}

.DarkGlassBackGround {
  background: rgb(248, 249, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(248, 249, 255, 0.1);
  backdrop-filter: blur(16.3px);
  -webkit-backdrop-filter: blur(16.3px);
}
.GlassBackGround {
  background: rgb(32, 33, 39 , 0.8);
  border-radius: 20px;
  box-shadow: 2px 5px 25px rgba(37, 37, 41, 0.822);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.NetFlixIcon {
  @apply flex cursor-pointer text-2xl md:text-3xl lg:text-4xl text-red-700 font-extrabold;
}
.sideBarItem {
  @apply flex font-bold  items-center    cursor-pointer  space-x-2;
}

.accountSettingBtn {
  @apply bg-red-600 rounded-xl font-bold py-3.5 px-8 w-max m-3.5 hover:bg-red-800 transition duration-300;
}
