@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.banner {
  background-position: center !important;
  background-repeat: no-repeat !important ;
  background-size: cover !important ;
  object-fit: contain !important;
  height: 500px !important;
}

.switcher {
  /* cursor-pointer transition-all  transform eas e-in-out duration-200 hover:scale-125 */
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
